<!DOCTYPE html>
<html>
<head>
    <title>Create your bouquet</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/custom.css">
</head>
<body>
    <div class="container">
        <div class="second_line">
            <h1 style="margin-bottom: 20px">Available flowers</h1>
            <div class="table_wrapper">
                <table style="margin-top: 0" align="center" width="100%" height="100px">
                    <tr>
                        <th>Flower ID</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                    {{#flower}}
                        <tr>
                            <td>{{flowerId}}</td>
                            <td>{{flowerName}}</td>
                            <td>{{flowerPrice}}</td>
                        </tr>
                    {{/flower}}
                </table>
            </div>
        </div>
        <div class="third_line">
            <div class="flower_id">
                <h1 style="margin-bottom: 50px">Add flower</h1>
                <form method="get" action="addToOrder">
                    <input type="number" id="number" name="number" placeholder="Enter flower ID" class="flower_input"/>
                    <button class="add_btn" type="submit" id="add">Add</button>
                </form>
            </div>
            <div class="current_order">
                <h1 style="margin-bottom: 30px">Current Order</h1>
                {{#currentOrder}}
                    <h2>{{order}}</h2>
                    <h1 style="margin-bottom: 30px">Price without discount</h1>
                    <h2>{{price}}</h2>
                {{/currentOrder}}
            </div>
        </div>
        <div class="first_line">
            <div class="types">
                <h1>Packing</h1>
                <table align="center" width="100%" height="100px">
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Price</th>
                    </tr>
                    {{#packing}}
                        <tr>
                            <td>{{packingId}}</td>
                            <td>{{packingType}}</td>
                            <td>{{packingPrice}}</td>
                        </tr>
                    {{/packing}}
                </table>
            </div>
            <div class="delivery">
                <h1>Delivery</h1>
                <table align="center" width="100%" height="100px">
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Price</th>
                    </tr>
                    {{#delivery}}
                        <tr>
                            <td>{{deliveryId}}</td>
                            <td>{{deliveryType}}</td>
                            <td>{{deliveryPrice}}</td>
                        </tr>
                    {{/delivery}}
                </table>
            </div>
        </div>
        <div class="fourth_line">
            <h1>Accept Order</h1>
            <form method="post" action="acceptOrder">
                <input type="number" id="number" name="number" placeholder="Packing ID" />
                <input type="number" id="delivery" name="delivery" placeholder="Delivery ID" />
                <input type="text" id="phone" name="phone" placeholder="Confirm your phone number" />
                <button class="accept_btn" type="submit" id="makeOrder">Accept</button>
            </form>
        </div>
        <footer>
            <span>Розрахуново-графічна робота, НУЛП</span>
        </footer>
    </div>
</body>
</html>