html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: rgba(99, 166, 255, 0.52);
    }

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        min-height: 850px;
        font-family: 'Montserrat', sans-serif;
    }

    .container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        background-color: white;
        padding-top: 40px;
    }

    .profile_info, .order_history, .make_order, .order_state {
        width: 80%;
        margin: auto;
        height: 200px;
        border-radius: 20px;
        border: 2px solid green;
        margin-bottom: 40px;
    }

    .order_history {
        height: 300px;
    }
    .order_state {
        height: 80px;
        padding-top: 20px;
    }

    .btn {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .form {
        width: 40%;
    }

    .choose_btn, .create_btn {
        width: 100%;
        min-height: 60px;
        background-color: rgba(99, 166, 255, 0.52);
        color: rgb(0, 86, 37);
        border: 2px solid green;
        border-radius: 20px;
        font-size: 24px;
        cursor: pointer;
        outline: none;
    }
    .table_wrapper {
        width: 95%;
        margin: auto;
        height: 150px;
        overflow: scroll;
    }
    th {
        font-size: 24px;
        font-weight: bold;
    }
    td {
        font-size: 18px;
        text-align: center;
    }
    footer {
        height: 40px;
        background-color: #a69695;
        padding-top: 25px;
    }
    span {
        display: block;
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
        color: #dbdad9;
    }